html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* //////////////////////////////////////////////////////// */

:root {
  --text: #111214;
  --background: #fafafb;
  --primary: #1269c7;
  --secondary: #93acd3;
  --accent: #6890d0;
}

@font-face {
  font-family: "Greek";
  src: url(./CaesarDressing-Regular.ttf) format("truetype");
}

/* Homepage/////////// */
body {
  background-color: var(--background);
  color: var(--text);
  font-family: "Roboto", sans-serif;
}

button:hover{
    transform: scale(1.1);
    transition: transform 0.1s ease;
}

button:active{
  transform: translateY(2px);
  transition: transform 0.2s ease;
}

/* ///////////////////////// */
#header {
  background-color: var(--primary);
  padding: 2vh 15vw;
}

#headLogo{
  display: flex;
  align-items: center;
  border: transparent;
}

#headLogo>#logo { 
  max-width: 80px;
  max-height: 80px;
  border: transparent;
  background-color: transparent;
  border: none;
}

#nav_bar {
  display: flex;
  justify-content: center;
  padding: 0 20vw;
  gap: 50px;
}

#nav_bar button {
  padding: 2% 4%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3vw;
  border-radius: 5px;
  border-color: transparent;
  background-color: var(--background);
  color: var(--primary);
  font-family: inherit;
  font-weight: 500;
  font-size: 1.2em;
  flex-shrink: 1;
  transition: transform 0.3s ease;
  cursor: pointer;
}

#nav_bar svg {
  width: 25px;
  height: 25px;
  fill: var(--primary);
}

#homepagecontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2vh 10vw;
  gap: 40px;
  background-color: var(--background);
}

#homepagecontainer h1 {
  font-size: 5em;
  font-weight: 1000;
  font-family: "Greek";
  color: var(--primary);
  letter-spacing: 10px;
}

#homepagecontainer img {
  border-radius: 5px;
  border: var(--accent) 4px solid;
  width: 50vw;
  height: auto;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

#pcontainer {
  background-color: var(--primary);
  padding: 3%;
  border-radius: 5px;
  width:100%;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  color: var(--background);
  font-size: 1.1em;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: justify;
}

#hero {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

#quote{
  background-color: #1269c7;
  padding: 4% 10%;
  color: #fafafb;
  font: inherit;
  border-radius: 20px;
  font-size: 1.3em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap:20px;
  font-weight: 300;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

#quote h2{
  font-size: 1.4em;
  font-family: 'Greek';
  font-weight: 700;
}

/* Menu/////////// */

#menu-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 60vh;
  padding: 2vh 20vw 5vh;
  gap: 40px;
  background-color: var(--background);
  color: var(--text);
}

#menu-h1 {
  font-size: 3.3em;
  font-family: "Greek";
  color: #1269c7;
}

#menu-section_one,
#menu-section_two,
#menu-section_three {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding-bottom: 5vh;
}

#menu-section_one:first-child(p),
#menu-section_two:first-child(p),
#menu-section_three:first-child(p) {
  font-size: 4em;
}

#menu-mainDishes,
#menu-sideDishes,
#menu-beverages {
  font-size:2em;
}

.card {
  width: 550px;
  height: 100px;
  /* border: var() 5px solid;
     */

  background-color: #1269c7;
  color: var(--background);
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap:20px;
  justify-content: flex-start;
  padding: 0vh 2vw;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  font-size: 1.3em;
}

#temp_one,
#temp_two,
#temp_three {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card div {
  width: 50px;
  height: 50px;
  border: var(--background) 10px solid;
  border-radius: 50px;
}

/* About page */
